[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
eventemitter = "==0.2.0"
jsonschema = "==2.6.0"
tornado = "==5.0.2"
zeroconf = "==0.20.0"

[dev-packages]

[requires]
python_version = "3.6"
