name: Build

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [
          2.7,
          3.5,
          3.6,
          3.7,
          3.8,
        ]
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          pip install flake8
          flake8 webthing --count --max-line-length=79 --statistics
      - name: Test with pytest
        run: |
          ./test.sh
